.card-container {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.card {
  max-width: 40%;
  width: 100%;
  box-shadow: var(--shadow);
  font-family: inherit;
}

.card:not(:last-child) {
  margin-right: 3rem;
}

.ant-card-head {
  border-bottom: none;
}

.ant-card-head-title {
  font-size: 1.3rem;
  font-weight: 700;
}

.ant-card .ant-card-body {
  padding: 0 1.5rem 1rem;
}

.ant-card-body p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}
