.signup-wrapper {
  width: 70%;
  max-width: 500px;
  height: auto;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.bottom-text {
  text-align: center;
}

.btn-switch {
  border: none;
  background-color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.btn-switch:hover {
  color: var(--theme);
  transition: all 0.3s;
}
