.navbar {
  background-color: var(--theme);
  padding: 1rem 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  color: var(--white);
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.logout-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

.user-logo {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin-right: 1rem;
}
